.contact100-form-btn {
  cursor: pointer;
width: 160px;
text-align: center;
padding: 7px 10px;
font-family: Poppins;
font-weight: 300;
font-size: 18px;
color: white;
background: linear-gradient(45deg,#00dbde,#fc00ff);
outline: none !important;
display: inline-block;
margin-left: 30px;
border-radius: 25px;
}

.btn-inactive {
    opacity: 0.5;
    cursor: default;
}


.MuiFormControl-root {
  vertical-align: baseline!important;
}
