input {
  color: rgba(97, 97, 97, 0.8)!important;
  height: 1.6em!important;
}

.MuiFormLabel-root.Mui-focused {
  color: rgba(97, 97, 97, 0.9)!important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid rgba(97, 97, 97, 0.1)!important;
}
