.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background: #a64bf4;
  background: linear-gradient(45deg,#00dbde,#fc00ff);
}

.App-form {
  max-width: 1140px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem 4rem;
  position: relative;
}

.App-title {
  display: block;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tab {
  outline: 0;
  border: 0;
  border-bottom: 4px solid transparent;
  padding: 2em 4rem;
  font-size: 1em;
  cursor: pointer;
}

.tab.isActive {
  border-image-source: -webkit-linear-gradient(bottom left, #00dbde, #fc00ff);
  border-image-source: -o-linear-gradient(bottom left, #00dbde, #fc00ff);
  border-image-source: linear-gradient(to top right, #00dbde, #fc00ff);
  border-image-slice: 1;
}

table, table td, table tr {
  font-family: Poppins!important;
}

table td span {
  font-size: .75rem!important;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
